<div class="row" ng-controller="ListingsController" ng-init="loadMap()">
    <div class="col-md-offset-1 col-md-10">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-markers models="mapMarkers" coords="'coordinates'" idKey="'id'" label="'label'">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>{{label}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>